*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.navItems li{
  display: inline-block;
  padding: 10px;

}
.navItems{
  background: brown;
  padding: 10px;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px;
  color:white;
  width: 100%;
  background-color: brown;
}

.inputBox{
  display: block;
  margin: 25px 0px;
  padding: 8px;
  width: 320px;
  border: 2px solid brown;
}
.signUp{
  margin-left: 40%;
  margin-top: 10%;
}
.signUp button{
  padding: 8px 134px;
  background-color: brown;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navItems li a{
  color: white;
  padding: 5px;
  text-decoration: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login{
  margin-left: 40%;
  margin-top: 10%;
}
.login button{
   padding: 8px 140px;
  background-color: brown;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}